@use '@angular/material' as mat;
@use '@cauldron/forms/src/lib/styles' as cauldron;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
