.results-panel {
  margin-top: 16px;

  mat-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  mat-list-item {
    overflow: visible;
    height: auto;
    min-height: 56px;

    button[mat-icon-button] {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.file-type {
  text-transform: uppercase;
  font-size: 10px;
  color: var(--on-surface-muted);
}

.actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}
